{
  "trailingComma": "es5",
  "semi": false,
  "importOrder": [
    "<BUILTIN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/(.*)$",
    "",
    "^src/(.*)$",
    "",
    "^[./](?!.*[.]s?css$).*$",
    ".*[.](s?css)$"
  ],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
