@reference "../../globals.css";

.slider {
  appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  &:not(:disabled) {
    cursor: pointer;
    &:hover::-webkit-slider-thumb,
    &:focus::-webkit-slider-thumb {
      border-color: var(--color-accent);
    }
    &:hover::-moz-range-thumb,
    &:focus::-moz-range-thumb {
      border-color: var(--color-accent);
    }
  }

  &:focus {
    outline: none; /* Removes the blue border. */
  }

  &::-webkit-slider-runnable-track {
    @apply rounded-full;
    background: linear-gradient(to right, #ffd026, white, #89e1ff);
    height: 12px;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    @apply h-full w-3 rounded-full shadow-sm;
    border: 1px solid var(--color-foreground);
    scale: 1.2;
    @media (prefers-color-scheme: dark) {
      border-width: 2px;
      scale: 1.5;
    }
  }

  &::-moz-range-track {
    @apply rounded-full;
    background: linear-gradient(to right, #ffd026, white, #89e1ff);
    height: 12px;
  }

  &::-moz-range-thumb {
    background: transparent;
    @apply rounded-full shadow-sm;
    border: 1px solid var(--color-foreground);
    @media (prefers-color-scheme: dark) {
      border-width: 2px;
    }
  }
}
